<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <h1 style="color:white;"> About Us</h1>
 <p style="color:white;"> This is a website developed by Yunkai Zhang as part of the UCSB CS56 curriculum. <br>At Book Exchange, our ultimate goal is
 to connect students and help them save money by providing a platform to exchange used textbooks.</p>
</body>
</html>
