<!DOCTYPE html>
<html>
{{> head }}
<body background="books_home.jpg"
 {{> nav }}
 <h1 style="color:white;" align = "center">Welcome to Book Exchange!</h1>
 <div style="display: flex; justify-content: center;">
 <img src="http://wheatonmontessori.org/wp-content/uploads/2017/05/Book-Exchange-Image-768x765.png" alt="homepage background" align="center">
</div>
 {{> bootstrap-from-cdn-body }}
</body>
</html>
